.__users{
    display: flex;
    justify-content: center;

}

.__flex{
    display: flex;
    justify-content: center;
}

.__homeDashCon{
    flex-direction: column;
    margin: 20px 160px 0 160px;
}
    
.__paraCon{
    width: 100%;
    padding: 24px;
}

.__paraHeader{
    font-family: var(--font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.800000011920929px;
    text-align: left;
}

.__secondCon{
    width: 100%;
}

.__quickTitle{
    padding: 24px;
    font-family: var(--font-family);
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.33000001311302185px;
    text-align: left;

}

.__boardss{
    width: var( --full-width);
    justify-content: space-around;
    gap: 12.5px;
    padding: 12px 16px 12px 16px;
}

.__board{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 214.95px;
    padding: 12px;
    gap: 8px;
    border-radius: 10px;
    border: 1px solid #DBE0E5;
}

.__boardHead{
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.6000000238418579px;
    text-align: center;
    color: #121417;
}

.__boardDetails{
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    color: #637587;
}

.__firstCon{
    width: var(--full-width);
    padding: 24px;
    gap: 24px;
    flex-direction: column;
}

.__title{
    font-family: var(--font-family);
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.33000001311302185px;
    text-align: left;
    color: #121417;
    width: 100%;

}

.__users{
    width: var(--full-width);
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.__firstUserPic{
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.__userData{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--full-width);
}

.__userData > div > h5{
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #121417;
}

.__userData > div >p{
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: #637587;
}

.__userData > p{
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: #637587;

}

.__lastCon{
    width: var(--full-width);
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 12px;
    padding: 24px;
}

.__lastTitle{
    font-family: var(--font-family);
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.33000001311302185px;
    text-align: left;
    color: #121417;

}

.__lastCon >div {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 12.08px;
}

.__lastCon >div > button{
    width: 144px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    padding: 0 16px 0 16px;
}

.__addBtn{
    width: 118.94px;
    background: #1A80E5;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.20999999344348907px;
    color: #fff;
}

.__attendBtn{
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.20999999344348907px;
    color: #121417;
}


.dashboard-links-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (min-width: 768px) {
    .__homeDashCon {
      margin: 10px 20px 0 20px; /* Adjust margin for smaller screens */
    }
  
    .__boardss {
      flex-direction: column; /* Adjust flex direction for smaller screens */
      align-items: center; /* Center align items */
    }
  
    .__board {
      width: 100%; /* Set board width to 100% */
      margin-bottom: 12px; /* Add some space between boards */
    }
  
    .__firstCon {
      padding: 12px; /* Adjust padding for smaller screens */
    }
  
    .__users {
      justify-content: center; /* Center align users */
    }
  
    .__lastCon {
      padding: 12px; /* Adjust padding for smaller screens */
    }
  
    .__lastCon > div {
      justify-content: center; /* Center align buttons */
    }
  }
  